Source: bve-train-br-class-323-3dcab
Section: games
Priority: optional
Maintainer: Ubuntu MOTU Developers <ubuntu-motu@lists.ubuntu.com>
XSBC-Original-Maintainer: Paul Sladen <ubuntu@paul.sladen.org>
Build-Depends: debhelper (>= 5)
Standards-Version: 3.8.4
Vcs-Browser: http://github.com/sladen/bve-train-br-class-323-3dcab/tree/debian
Vcs-Git: http://github.com/sladen/bve-train-br-class-323-3dcab.git
Homepage: http://railsimroutes.net/blog/?p=886

Package: bve-train-br-class-323-3dcab
Architecture: all
Provides: bve-train-3dcab, bve-train
Depends: bve-train-br-class-323
Enhances: bve-train-br-class-323
Recommends: openbve (>= 1.2.2.0), bve-engine
Description: British Rail Class 323 EMU train 3D cab (for OpenBVE rail simulator)
 Accurate simulation of a three-car electric mulitple unit used in
 West Midlands of the United Kingdom and built in the 1990s.
 .
 The train contains a three-dimensional cab environment, including the combined
 power+brake controller.
 .
 A suitable route is the Birmingham Cross-City South route, running
 from Redditch to Birmingham New Street.
 . 
 This version of the Class 323 cab extends the functionality available in the
 existing Class 323 train model.
